<article>
  <div class="title">
    <h2>オプション一覧</h2>
  </div>
  <p><%=link_to("【追加】","/foods/new") %></p>
  <br>
  <br>
  <% @options.each do |option| %>
    <label>
      <input type="radio" name="f_id" id="<%=" #{option.name} "%>" value="<%=" #{option.name} "%>"><%= option.name %>
    </label>
    <br>
  <% end %>
</article>