<article>
  <h2 style="font-size: 50px;">オプションDBに追加</h2>
  <div class="form">
    <%= form_tag("/options/create") do %>
      名前：<input name="name" type="text"><br><br><br>
      <input type="submit" value="送信">
    <% end %>
  </div>
</article>