<article>
    <div class="title">
        <p>This is <strong><%=link_to("モグピタ", '/') %></strong> .</p>
    </div>
    <section>
        <p style="font-size:30px; line-height:60px;">
            <!--おいしいご飯をたくさん食べたきもちになれる
            <br>新感覚 ウェルネスサービスです-->
            自分が描いた絵の主人公になれる<br>
            新感覚 ウェルネスサービスです
        </p>
	</section>
</article>
        
<div class="start">
    <a href="/users/new"><button type="button" style='font-size:30px; padding:80px 0px;'>はじめる</button></a>
</div>