<article>
  <h2 style="font-size: 50px;">フードDBに追加</h2>
  <div class="form">
    <%= form_tag("/foods/create", {multipart: true}) do %>
        ①名前：<input name="name" type="text"><br><br><br>
        ②食べたいタイプ選択：<br>
        <% @options.each do |option| %>
          <label>
            <input type="radio" name="op_id" value="<%=" #{option.id} "%>"><%= option.name %>(<%= @foods.where(op_id: option.id).count %>個)
          </label>
          <br>
        <% end %>
        <br><br>
        <input type="submit" value="送信">
    <% end %>
  </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</article>

