@charset "utf-8";

  
body {
	width:100%;			/*ページ全体の横幅*/
	background-color:#ffffff;	/*ページ全体の背景色*/
	background-image:none;		/*ウェブページ全体の背景画像を無しにする*/
    font-size:20px;
    padding: 0;
    margin: 0;
    font-family: "游ゴシック体", YuGothic, sans-serif;;		/* フォントサイズを100%にする */
}

#content{
    width:750px;
    margin:auto;
}

header {
    height:150px;
    background-color: #F9D348;
    text-align:center;
    display: table;
    width: 100%;
}

header .logo{
    display: table-cell;
    vertical-align: middle;
}

.logo img{
    height: 50px;
}

a{
    text-decoration: none ;
    color:black;
}

article{
     text-align: center;
}

article p{
    font-size: 30pt;
}
.title{
    height: 400px;
    text-align:center;
    display: table;
    width: 100%;
}
.title h1{
    display: table-cell;
    vertical-align: middle;
    font-size: 90px;
    letter-spacing: 10px;
}

.title h2{
    display: table-cell;
    vertical-align: middle;
    font-size: 66px;
    letter-spacing: 10px;
}

.title p{
    display: table-cell;
    vertical-align: middle;
    font-size: 50px;
    letter-spacing: 10px;

}

.start{
    height: 750px;
    text-align:center;
    display: table;
    width: 100%;   
}

.start p{
    width: 60px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 50px;
    border-color: #F9D348;
}

.form{
    height:400px;
    margin:100px;
}

.gohan{
    padding: 10px;
    font-size: 30px;
    margin: 60px;
}

.option{
    padding: 10px;
    display: block;
    font-size: 40px;
}

.select{
    font-size: 40px;
    padding: 50px;
}

.cut_pic{
    margin:20px;
}

input[type=radio] {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 100px;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.alert {
    padding: 20px;
    background-color: #f436659d;
    color: white;
    margin: 15px 0px;
}

.closebtn {
    padding-top: 5px; 
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

footer{
    font-size: 80%;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #F9D348;
    margin-top: 100px;
}
footer p{
    letter-spacing: 1px;
}

ul {
    margin-left: 5%;
}

#menu {
    list-style: none;
    overflow: hidden;
}

#menu li {
    width: 150px;
    text-align: center;
    background-color: #F9D348;
    float: left;
    height: 50px;
    line-height: 50px;
    margin-right: 2px;
}

#menu li a {
    text-decoration: none;
    color: black;
    padding: 20px;
}

#admin {
    border: 1px black;
}
/*.portrait{*/
/*    background-color:#f8f8f8;*/
/*    width: 500px;*/
/*    margin: auto;*/
/*}*/

/*.portrait form{*/
/*    margin: 60px;*/
/*    display: inline-block;*/
/*}*/

